html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
 
html {
    position: relative;
    min-height: 100%;
}

body {
    /*   Margin bottom by footer height */
    margin-bottom: 40px;
    background-color: #FCFCFD;
}

/* Error styles
-------------------------------------------------- */
.validation-summary-errors {
    color: #d9534f;
}

/* Button modal
-------------------------------------------------- */
.bootbox-close-button {
    display: none;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 20px; /*Vertically center the text there */
}