@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="pt-3 mt-3">
    <ul class="fs-5 list-group list-group-flush">
        <li class="fw-bold list-group-item">Agreeing to our rules and policies</li>
        <p>When you use VideoTek, you are agreeing to our rules and policies, You should not use VideoTek if you do not agree with our Privacy Policy.</p>

        <li class="fw-bold list-group-item">What data we collect from you?</li>
        <p>When you register to use VideoTek chat or when you submit a request, you have to expleciitly write you name, email and password. this information you provide will be accesible from us to retrieve your password or update you account.</p>

        <li class="fw-bold list-group-item">Do you collect data about my location?</li>
        <p>Yes we may collect some information about your IP address and we use this information to customize our apllication.</p>

        <li class="fw-bold list-group-item">Can I get my data from you?</li>
        <p>You are the owner of you data, you can just submit a request to VideoTek team and we will send you a zipped file of you data within 24h. Same applies if you wont to distroy you data.</p>

        <li class="fw-bold list-group-item">What are analytics?</li>
        <p>Analytics is a helping tool to better understand how your use our application, we may use third-party web analytics on our application, such as Google Analytics.This service is kind of technology that collects data automatically about your device. o prevent Google Analytics from collecting or using your information, you may install the Google analytics opt-out browser Add-on.</p>
    </ul>
</div>
