<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VideoTek</title>
    @await Html.PartialAsync("_StylesheetPartial")
</head>
<body>
    @await Html.PartialAsync("_NavBar")
    <div class="container">
        <main role="main" class="pb-3">
            @await Html.PartialAsync("_Notification")
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("_Footer")
    @await Html.PartialAsync("_ScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
